.footer {
    border-top: 2px solid #ebebeb;
    background: rgb(249 249 249);
}
.footer .r1 .cl1 a .website_logo{
    width: 150px;
}
.footer .r1 .cl1 p, .footer .r1 .cl4 p{
    margin-bottom: 14px;
    font-size: 13px;
    color: black;
    line-height: 30px;
}
.footer .r1 .cl1 .footer-icons span {
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}
.footer .r1 .cl1 .footer-icons i{
    font-size: 20px;
    background-color: white;
    border: 1px solid rgba(251, 181, 40, 1);
    padding: 5px;
    border-radius: 100%;
    color: rgba(251, 181, 40, 1);
}
.footer .r1 .cl1 .footer-icons i:hover{
    background-color: rgba(251, 181, 40, 1);
    color: white;
    transition: 0.5s;
    cursor: pointer;
}
.footer .r1 .cl2 h4,
.footer .r1 .cl3 h4,
.footer .r1 .cl4 h4 {
    width: fit-content;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 20px;
    position: relative;
}
.footer .r1 .cl2 h4::after,
.footer .r1 .cl3 h4::after,
.footer .r1 .cl4 h4::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 100%;
    background-color: rgba(255, 196, 0, 0.913);
}
.footer .r1 .cl2 ul,
.footer .r1 .cl3 ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.footer .r1 .cl2 ul li {
    flex: 1 0 50%;
}
.footer .r1 .cl2 ul li a,
.footer .r1 .cl3 ul li a {
    text-decoration: none;
    color: black;
    font-size: 13px;
    line-height: 30px;
}
.footer .r1 .cl2 ul li a:hover,
.footer .r1 .cl3 ul li a:hover {
    color: rgba(255, 196, 0, 0.913);
    transition: 0.8s;
}
.footer .r1 .cl4 .subscribe-form-copy{
    position: relative;
    border-radius: 100px;
    box-shadow: 0px 1px 3px 1px rgb(177, 176, 176);
}
.footer .r1 .cl4 .subscribe-form-copy input {
    width: 100%;
    padding: 13px 22px;
    border: none;
    border-radius: 100px;
    outline: none;
}
.footer .r1 .cl4 .subscribe-form-copy input:hover{
    background: #e4e3e3;
    transition: 0.6s;
    cursor: pointer;
}
.footer .r1 .cl4 .subscribe-form-copy button{
    position: absolute;
    border-radius: 100px;
    right: 7px;
    padding: 2px 8px;
    top: 5px;
    border: 1px solid rgba(255, 196, 0, 0.913);
}
.footer-animation {
    overflow: hidden;
    margin-top: -20px;
    position: relative;
    background: url(pics/footer_bg.svg) no-repeat scroll center 0;
    background-color: rgb(249 249 249);
    height: 230px;
}
.footer-animation .footer_bg_one {
    background: url(pics/delivery_van.gif) no-repeat center center;
    width: 330px;
    height: 105px;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    animation: moveVan 25s linear infinite;
}
.footer-animation .footer_bg_two {
    background: url(pics/delivery_bike.gif) no-repeat center center;
    width: 88px;
    height: 100px;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    animation: moveBike 20s linear infinite;
}
.payment-gateways .r1{
    box-shadow: 0px 1px 3px 1px rgb(177, 176, 176);
    background-color: #f7f7f7;
}
.payment-gateways .r1 .cl1{    
    transform: translateY(10%);
}
.payment-gateways .r1 .cl1 p{    
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif ;
}
.payment-gateways .r1 .cl2{    
    transform: translateY(-10%);
}
@keyframes moveVan {
    0% {
        transform: translateX(-120%);
    }

    100% {
        transform: translateX(370%);
    }
}
@keyframes moveBike {
    0% {
        transform: translateX(-125%);
    }

    100% {
        transform: translateX(1500%);
    }
}
@media screen and (max-width: 992px) {
    .footer-animation {
        display: none;
    }
}


.bdr
{
    border: 2px solid red;
}